<h1>New Cake:</h1>
<%= form_for @cake do |f| %>
  <%= f.file_field :cake %>
  <%= f.hidden_field :cake_cache %>
  <br>
  <br>
  <%= f.select :category_id, Category.all.map { |n| [n.name, n.id]} %>
  <br>
  <br>
  <%= submit_tag "Save Cake", class: "button" %>
<% end %>
