<h1>Jill&#39;s Mixing Bowl</h1>
<header>
  <div id="header">
    <a href="#" id="menu-toggle">Menu</a>
  </div>
  <nav id="main-nav">
    <ul>
      <li><%= link_to "Home", root_path, id: "#{"active" if yield(:page) == "home" }" %></li>
      <li><%= link_to "About", about_path, id: "#{"active" if yield(:page) == "about" }" %></li>
      <li><%= link_to "Contact", contact_path, id: "#{"active" if yield(:page) == "contact" }" %></li>
      <li><%= link_to "Gallery", "#" %></li>
      <li><%= link_to "Order", order_path, id: "#{"active" if yield(:page) == "order" }" %></li>
      
      <% if logged_in? %>
        <li><%= link_to "Sign Out", sign_out_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
